doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='Поиск номеров в отеле - Toxin')
    title Toxin - поиск номеров в отеле
  body
    .container
      h1 Hey
      table.table
        tbody
          tr
            td 1
            td 2
          tr
            td 1
            td 2
          tr
            td 1
            td 2
      ul
        li.pook 1
        li.pook 2
        li.pook 3
        li.pook 4
        li.pook 5
        li.pook 6
